.aboutTitle {
    font-family: var(--mainL);
    font-size: 5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    letter-spacing: 25px;
    color: black;
    text-align: center;
}

.rounded-lg {
    -webkit-box-shadow: -1px 7px 15px 6px #0000007c; 
    box-shadow: -1px 7px 15px 6px #0000007c;
}

.circle1, .circle2, .circle3 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -1px 7px 15px 6px #0000007c; 
box-shadow: -1px 7px 15px 6px #0000007c;
}

.circle1:hover, .circle2:hover, .circle3:hover{
    -webkit-box-shadow: -1px 7px 15px 6px #207673; 
    box-shadow: -1px 7px 15px 6px #207673;
    cursor: pointer;
}

.circle1 {
    align-self: center;
    animation: animateCircles 5s infinite alternate, animateCircles1 5s infinite alternate;
}

.circle2 {
    align-self: start;
    animation: animateCircles2 6s infinite alternate, animateCircles2x 5s infinite alternate;
}

.circle3 {
    align-self: end;
    margin-right: 10%;
    animation: animateCircles3 5s infinite alternate, animateCircles3x 5s infinite alternate;
}

@keyframes animateCircles {
    0% {transform: translateY(200px)};
    /* 100% {transform: translateY(100px)}; */
}

@keyframes animateCircles1 {
    /* 0% {transform: translateX(200px)}; */
    /* 100% {transform: translateY(100px)}; */
}

@keyframes animateCircles2x {
    /* 0% {transform: translateX(-100px)}; */
    /* 100% {transform: translateY(100px)}; */
}

@keyframes animateCircles2 {
    0% {transform: translateY(300px)};
}

@keyframes animateCircles3 {
    0% {transform: translateY(-300px)};
    /* 100% {transform: translateY(-100px)}; */
}


.circle1 h2, .circle2 h2, .circle3 h2 {
    font-family: var(--mainL);
    font-weight: 500;
    font-size: 2rem;
}

.ppic {
    margin-left: 40px;
    border-radius: 10px;
    width: 400px;
    height: 530px;
    -webkit-box-shadow: -1px 7px 15px 6px #0000007c; 
    box-shadow: -1px 7px 15px 6px #0000007c;
}
.aboutCon {
    height: 800px;
}

@supports (animation-timeline: view()) {
.aboutCon {
    animation: slide ease-in;
    animation-timeline: view(); 
}
}

@keyframes slide {
    0% {
    transform: translateX(-3rem);
    opacity: 0;
    filter: blur(2px);
    }
    50% {
    transform: translateX(0rem);
    opacity: 1;
    filter: blur(0px);
    }
}