@supports(animation-timeline: view()) {
.contactCon {
    animation: slide ease-in;
    animation-timeline: view(); 
}
}

@keyframes slide {
    0% {
    transform: translateX(-3rem);
    opacity: 0;
    filter: blur(2px);
    }
    50% {
    transform: translateX(0rem);
    opacity: 1;
    filter: blur(0px);
    }
}

.contactTitle {
    font-family: var(--mainL);
    font-size: 5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    letter-spacing: 25px;
    text-align: center;
    color: white;
}

h3.text-5xl {
    color: white;
    font-family: var(--mainL);
    text-align:center;
}