.fixed {
    border-right-color: white;
    border-bottom-color: white;
    border-top-color: #20767380;
    border-left-color: #20767380;
    background-color: #20767380;
    animation-name: headerAni2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.w-screen {
    position: fixed;
    border-right-color: white;
    border-bottom-color: white;
    border-top-color: #207673;
    border-left-color: #207673;
    height: 106px;
    animation-name: headerAni;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes headerAni {
0% {width: 108px}
100% {width: 100%}
}

@keyframes headerAni2 {
0% {width: 100%}
100% {width: 108px}
}

.innArr, .outArr {
color: white;
font-size: 2.5rem;
cursor: pointer;
}

.outArr {
transform: rotate(360deg);
animation-name: spinIn;
animation-duration: 1s;
animation-iteration-count: 1;
}

.innArr {
transform: rotate(180deg);
animation-name: spinOut;
animation-duration: 1s;
animation-iteration-count: 1;
}

.headerLinks a {
margin-bottom: 50px;
}


@keyframes spinIn {
0% { transform: rotate(0deg)};
100% { transform: rotate(180deg)};
}

@keyframes spinOut {
0% { transform: rotate(0deg)};
100% { transform: rotate(180deg)};
}

.listHeader {
    color: white;
    font-size: 1.5rem;
    font-family: var(--main);
    border-radius: 10px;
    padding: 10px;
    transition: all ease-in 0.15s;
}

.listHeader.animate {
    color: white;
    font-size: 1.5rem;
    font-family: var(--main);
    border-radius: 10px;
    padding: 10px;
    transition: all ease-in 0.15s;
    animation-timing-function: linear;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% { opacity: 0};
    70% { opacity: 0};
    100% { opacity: 1};
}

.listHeader:hover {
    -webkit-box-shadow: -1px 3px 15px 3px white; 
    box-shadow: -1px 3px 15px 3px white;
    cursor: pointer;
    
}
.listHeader:active {
    color: black;
    -webkit-box-shadow: -1px 3px 15px 3px black; 
    box-shadow: -1px 3px 15px 3px black;
}
