.heroBack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1000px;
    overflow-x: hidden;
    background-color: black;
    }
    
    /* .vidBack {
      max-width: none;
      min-height: 1000px;
      background-color: black;
    } */
    
    .name {
      color: white;
      position: absolute;
      flex-direction: column;
      top: 300px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    
    .name h1 {
      font-size: 15rem;
      font-family: var(--main);
      text-shadow: black;
      line-height: 200px;
      text-align: center;
      text-shadow: rgb(0, 0, 0) 5px 5px 30px;
      animation-name: shadowAnimate;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    
    .name h2 {
      margin-top: 1rem;
      font-size: 5rem;
      font-family: var(--main);
      text-decoration: underline;
      text-shadow: rgb(0, 0, 0) 5px 5px 30px;
    }
    
    @keyframes shadowAnimate {
    0% {text-shadow: rgb(0, 0, 0) 5px 5px 30px}
    50% {text-shadow: #FFF 5px 5px 20px}
    100% {text-shadow: rgb(0, 0, 0) 5px 5px 30px}
    }
    
    /* .Vcon {
      width: 100%;
      display: flex;
      justify-content: center;
    } */
    
    .V {
      color: white;
      margin-top: 5rem;
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
      animation-name: arrowMove;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      cursor: pointer;
      align-self: center;
      justify-self: center;
      text-align: center;
      width: 100%;
    }
    
    @keyframes arrowMove {
      0% {transform: translateY(0)}
      50% {transform: translateY(-50%)}
      0% {transform: translateY(0)}
    }