@media  screen and (max-width: 1600px) {
  }
  
  @media  screen and (max-width: 1300px) {
  }
  
  @media  screen and (max-width: 800px) {
.projectTitle {
    font-size: 3rem;
    letter-spacing: 15px;
}
  }

@media  screen and (max-width: 400px) {
    .projectTitle {
        font-size: 3rem;
        letter-spacing: 5px;
    }
}